.accordion-item
{
    
    border: 1px solid #aaa;
    background: rgb(111, 139, 231);
    border-radius: 5px;
    cursor: pointer;
}

.accordion-body 
{
    overflow: hidden;
    background: rgb(230, 229, 229);
    max-height: 0;
    transition: max-height 0.5s ease-in;   
}

.opened .accordion-body
{
    max-height: 200px;   
}

